body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  padding:  40px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
}

.profilecard {
  background-color: #c9f5ec;
  padding: 20px;
  margin-bottom: 70px;
  border-radius: 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.postcard {
  background-color: #f8f7bd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  width: 450px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profilecard,
.postcard {
  margin-left: auto;
  margin-right: auto;
}

