* {
    box-sizing: border-box; 
}
p {
    margin: 0;
}

.cardRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.profileCard {
    width: 320px;
    height: 500px;          
    padding: 50px 30px;
    border: 3px solid #ccc;
    border-radius: 16px;
    cursor: pointer;

    transition: transfor 0.25s ease, box-shadow 0.25 ease;
    will-change: transfrom;
}

.profileCard:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.20);    
}

.themeLight {
    background: linear-gradient(135deg, #fcfcfc, #fcb8d6);
}

.themeDark {
    background: linear-gradient(135deg, #f5e9f9, #4b1c6b);
    color: white;
}

.cardBack {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 24px;
}

.label {
    font-size: 18px;
    letter-spacing: 0.08em;
    opacity: 0.9;
    margin-bottom: 14px;
}

.desc {
    width: 100%;
    line-height: 1.7;
    word-break: keep-all;
    font-size: 20px;
    max-height: 280px;
    overflow: auto;
    white-space: pre-line;
}

.cardFront {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.userName {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.08em;
    opacity: 0.9;
}

.userKoreanName {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 22px;
    font-weight: 500;

}

.likeButton {
    position: absolute;
    bottom: -15px;
    right: -5px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}

.likeText {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.2s ease;
    white-space: nowrap;
    color: rgb(206, 16, 2);
}

.likeButton:hover .likeText {
    opacity: 1;
}

.profileImage {
    width: 205px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.themeLight .profileImage:hover {
    filter:
        drop-shadow(0 0 22px rgba(210, 150, 255, 0.75))  
        drop-shadow(0 0 60px rgba(255, 120, 210, 0.45))  
        drop-shadow(0 0 110px rgba(255, 255, 255, 0.20)); 
}

.themeDark .profileImage:hover {
    filter:
        drop-shadow(0 0 25px rgba(255, 255, 255, 0.65))
        drop-shadow(0 0 70px rgba(255, 255, 255, 0.40))
        drop-shadow(0 0 120px rgba(255, 255, 255, 0.20));
}

.profileImage:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .cardRow {
        flex-direction: column;
        gap: 24px;
        margin-top: 100px;
    }
}

